<div class="container mt-5">
  <h1 class="title">Make new booking</h1>
  <%=  render 'form', bike:@bike %>

  <div class= "mt-3">
  <%= link_to 'Back', bikes_path(@bike), class: "btn btn-outline-primary btn-sm" %>
  </div>
</div>
