<div class="container mt-5">
  <h1 class="title text-center">Find A Bike Near You!</h1>
  <div class= "d-flex justify-content-center align-items-center my-3">
    <%= form_tag bikes_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a bike"
    %>
    <%= submit_tag "Search", class: "btn btn-outline-primary m-3 ml-5 btn-lg" %>
    <% end %>
  </div>

  <div class="card-group">
    <div class="card m-2">
      <img src="https://images.pexels.com/photos/2591990/pexels-photo-2591990.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mountain bike</h5>
        <p class="card-text">Berlin Kreuzberg - 12€ - Available now</p>
      </div>
    </div>
    <div class="card m-2">
      <img src="https://images.pexels.com/photos/957157/pexels-photo-957157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cargo bike</h5>
        <p class="card-text">Berlin Neukölln - 20€ - Available now</p>
      </div>
    </div>
    <div class="card m-2">
      <img src="https://images.pexels.com/photos/545004/pexels-photo-545004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Road bike</h5>
        <p class="card-text">Berlin Mitte - 10€ - Available now</p>
      </div>
    </div>
  </div>
</div>
