.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
  color: #EDDDD4;
  justify-content: center;
}

.banner p {
  font-size: 36px;
  color: #EDDDD4;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
